{% extends "../parts/base.html" %}
{% load static %}

{% block header %}
  {% include '../parts/common_header.html' %}
  <title>巴コーポレーション画像管理システム｜使用申請準備フォーム</title>
{% endblock %}
{% block top %}
  {% include '../parts/common_top.html' %}
{% endblock %}
{% block body %}
<div id="R_Form_Area">
  {% include '../parts/Register_form_body.html' %}
</div>
{% endblock %}
{% block footer %}
{% include '../parts/form_btn.html' %}
{% include '../parts/base_scripts.html' %}
{% include '../parts/validation_js.html' %}
{% endblock %}
