
{% extends "../parts/base.html" %}
{% load static %}
{% block header %}
  {% include '../parts/common_header.html' %}
  <title>巴コーポレーション画像管理システム（TIMS）｜リスト</title>
{% endblock %}
{% block top %}
  {% include '../parts/common_top.html' %}
{% endblock %}
{% block body %}
<div class="mx-auto min-vh-100" style="width: 90%;max-width: 1280px;margin-bottom: 50px;">
{% for Tims in object_list %}
{% if forloop.first %} <hr class="my-1">{% endif %}
  <div class="container my-3">
    <div class="row d-flex flex-row">
      <div class="col-lg-3  align-items-stretch d-flex">
        <p class="mb-0">{{Tims.image_id}}</p><br>
        <p class="mb-0">{{Tims.image_main_name}}</p>
      </div>
      <div class="col-lg-3 flex-nowrap  align-items-stretch d-inline-flex">
        <p class="mb-0"><img src="{% static '/thumbnail/' %}{{Tims.image_thumbnail_name}}" style="width:100%;height:auto;"></p>
      </div>
      <div class="col-lg-3 flex-nowrap  align-items-stretch d-inline-flex">
        <p class="mb-0"><img src="{% static '/photo/' %}{{Tims.image_file_name}}" style="width:100%;height:auto;"></p>
      </div>
    </div>
  </div>
  <hr class="my-1">
{% endfor %}


</div>
{% endblock %}
{% block footer %}
{% include '../parts/pagenation.html' %}
{% endblock %}
