<div class="row">
  <div class="col-md">
    <div style="width:75%;margin:1rem auto;"><a  class="btn btn-danger btn-lg btn-block d-grid border-light" href="/tims" role="button">リストに戻る</a></div>
  </div>
  {% if Confirming_data %}
  <div class="col-md">
    <form method="post" action="/tims/request_reconfirm.html">{% csrf_token %}
      <input type="hidden" name="request_code" value="{{Confirming_data.request_code}}">
      <input type="hidden" name="request_time" value="{%now 'Y-m-d H:i:s' %}">
      <input type="hidden" name="request_dpt" value="{{Confirming_data.request_dpt}}">
      <input type="hidden" name="request_name" value="{{Confirming_data.request_name}}">
      <input type="hidden" name="request_mail" value="{{Confirming_data.request_mail}}">
      <input type="hidden" name="request_image" value="{{Confirming_data.request_image}}">
      {% for img in image_data %}<input type="hidden" name="image_id[]" value="{{img.image_id}}">{% endfor %}
      <input type="hidden" name="request_description" value="{% spaceless %}{{Confirming_data.request_description}}{% endspaceless %}">
      <input type="hidden" name="request_status" value="0">
    <div style="width:75%;margin:1rem auto;"><button class="btn btn-secondary btn-lg btn-block d-grid w-100 border-light" type="submit">内容修正</button></form></div>
  </div>
  <div class="col-md">
    <form method="post" action="/tims/pdf_print.html">{% csrf_token %}
      <input type="hidden" name="request_code" value="{{Confirming_data.request_code}}">
      <input type="hidden" name="request_time" value="{%now 'Y-m-d H:i:s' %}">
      <input type="hidden" name="request_dpt" value="{{Confirming_data.request_dpt}}">
      <input type="hidden" name="request_name" value="{{Confirming_data.request_name}}">
      <input type="hidden" name="request_mail" value="{{Confirming_data.request_mail}}">
      <input type="hidden" name="request_image" value="{{Confirming_data.request_image}}">
      {% for img in image_data %}<input type="hidden" name="image_id[]" value="{{img.image_id}}">{% endfor %}
      <input type="hidden" name="request_description" value="{% spaceless %}{{Confirming_data.request_description}}{% endspaceless %}">
      <input type="hidden" name="request_status" value="0">
    <div style="width:75%;margin:1rem auto;"><button class="btn btn-primary btn-lg btn-block d-grid w-100 border-light" type="submit">資料ダウンロード</button></form></div>
  </div>
  {% elif Reconfirming_data %}
    <input type="hidden" name="request_code" value="{{Reconfirming_data.request_code}}">
    <input type="hidden" name="request_time" value="{%now 'Y-m-d H:i:s' %}">
    <input type="hidden" name="request_image" value="{{Reconfirming_data.request_image}}">
    {% for img in image_data %}<input type="hidden" name="image_id[]" value="{{img.image_id}}">{% endfor %}
    <input type="hidden" name="request_status" value="0">
    <div class="col-md">
      <div style="width:75%;margin:1rem auto;"><button class="btn btn-primary btn-lg btn-block d-grid w-100 border-light" type="submit">資料内容の確認</button></form></div>
    </div>
  {% else %}
    <div class="col-md">
      <div style="width:75%;margin:1rem auto;"><button class="btn btn-primary btn-lg btn-block d-grid w-100 border-light" type="submit">資料内容の確認</button></form></div>
    </div>
  {% endif %}
</div>